<p>
Fridays at 1pm EST, join me <a href="https://www.twitch.tv/courajs">on Twitch</a>
for like an hour of coding togther. We'll have a goal for what we want
to build, but we'll probably explore a few tangents together as well.
</p>

<p>
I have no idea what I'm doing.
</p>

{{link-to "Previous Streams" 'streams'}}
